<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951082036741-848r8klqpnic9gtff698h53kapmfijmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951082036741-848r8klqpnic9gtff698h53kapmfijmn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951082036741-jbagaqneqngh0rk5bha59ibq880oc0tr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0vgaJxydzBKZylgjw4ht8l40m_hyc3dM</string>
	<key>GCM_SENDER_ID</key>
	<string>951082036741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ultimateAlarmClock</string>
	<key>PROJECT_ID</key>
	<string>ulticock-c13a2</string>
	<key>STORAGE_BUCKET</key>
	<string>ulticock-c13a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951082036741:ios:ced0089265af04c071766c</string>
</dict>
</plist>