name: Flutter Build

on:
  push:
    branches:
      - main
      - next
  workflow_dispatch:

jobs:
  build-android:
    name: Android
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
        
          java-version: "19.x"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.22.2

      - name: Build Flutter app for Android
        run: flutter build apk
